<ion-view title="ABOUT">
  <ion-content>
    <div class = "detail-card-head">
      <div class="item item-image" style="background: url('img/banner-inklusik.jpg'); background-size: cover; background-position: center center; ">
        </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <h2><strong>Inklusik</strong></h2>
            <p> Kolaborasi Musik Indonesia </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <div class="detail-card-item">
            <div class="item item-text-wrap">
              <h3 style="text-align:left"><strong>About</strong></h3>
                <div>
                  <p>
                    Inklusik adalah aplikasi mobile untuk memainkan alat musik tradisional sunda secara kolaboratif dengan teman. Dengan menggunakan aplikasi ini, kita bisa berkolaborasi bermain musik dimana saja dan kapan saja tanpa batas waktu dan tempat. Selain itu, kita juga bisa mengajak teman kita untuk bermain bersama.
                
                    <br><br>

                    Aplikasi ini memberikan kemudahan akses untuk memainkan alat musik tradisional sehingga mempermudah orang-orang untuk belajar kesenian musik sunda. Turis dapat dengan mudah belajar alat musik tradisional sunda.

                    <br><br>



                    <h2></h2>
                  </p>
                </div>
            </div>

          </div>
      </div>
    </div>
  </ion-content>
</ion-view>