<ion-view title="HELP">
  <ion-content>
    <div class = "detail-card-head">
      <div class="item item-image" style="background: url('img/banner-inklusik.jpg'); background-size: cover; background-position: center center; ">
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <h2><strong>Inklusik</strong></h2>
            <p> Here is the help you need. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <div class="detail-card-item">
            <div class="item item-text-wrap">
              <h3 style="text-align:left"><strong>Help</strong></h3>
                <div>
                  <p>
                    Aplikasi Inklusik dapat digunakan dengan mudah. Untuk memulai, silakan login atau memilih masuk sebagai guest. 

                    <br><br>

                    Setelah masuk, pengguna akan diberikan tampilan beberapa alat musik sunda berisi gambar dan penjelasan singkat mengenai alat musik tersebut. Pengguna bisa memilih salah satu alat musik tradisional Sunda yang ingin dimainkan. 

                    <br><br>

                    Setelah memilih alat musik, akan diberikan penjelasan lengkap mengenai alat musik yang dipilih.

                    <h2></h2>
                  </p>
                </div>
            </div>

          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
