<div class="full-overlay" ng-hide="$root.hide">

<ion-content>

<div class="login-page">
    <div class="login-wrap">
        <div class="logo"></div>
        <div class="hint">login with:</div>
        <button class="button button-block button-positive" type="submit" ng-click="login()"><i class="ion-social-facebook"></i> Facebook</button>
        <button class="button button-block button-balanced" type="submit" ng-click="guest()"><i class="ion-person"></i> Guest</button>
    </div>
</div>

</ion-content>

</div>