<ion-view title="Music Wiki">
  <ion-content>
    <div class="row">
      <h3 style="margin:5px">Bali</h3>
    </div>
    <div class="row">
      <div class="col">
          <a style="text-decoration: none;" href="#/detail"><div style="box-shadow: 0px 5px 10px rgba(0,0,0,.1);">
            <div class="item item-image">
                <img src="img/circle.png">
              </div>
            <div class="item item-text-wrap">
              <h3 style="text-align:center"><strong>Gangsa</strong></h3>
              <p style="text-align:center"> Alat Ketuk </p>
            </div>
          </div></a>
      </div>
      <div class="col">
          <a style="text-decoration: none;" href="#/detail"><div style="box-shadow: 0px 5px 10px rgba(0,0,0,.1);">
            <div class="item item-image">
                <img src="img/circle.png">
              </div>
            <div class="item item-text-wrap">
              <h3 style="text-align:center"><strong>Gangsa</strong></h3>
              <p style="text-align:center"> Alat Ketuk </p>
            </div>
          </div></a>
      </div>
      <div class="col">
          <a style="text-decoration: none;" href="#/detail"><div style="box-shadow: 0px 5px 10px rgba(0,0,0,.1);">
            <div class="item item-image">
                <img src="img/circle.png">
              </div>
            <div class="item item-text-wrap">
              <h3 style="text-align:center"><strong>Gangsa</strong></h3>
              <p style="text-align:center"> Alat Ketuk </p>
            </div>
          </div></a>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <a style="text-decoration: none;" href="#/detail"><div style="box-shadow: 0px 5px 10px rgba(0,0,0,.1);">
            <div class="item item-image">
                <img src="img/circle.png">
              </div>
            <div class="item item-text-wrap">
              <h3 style="text-align:center"><strong>Gangsa</strong></h3>
              <p style="text-align:center"> Alat Ketuk </p>
            </div>
          </div></a>
      </div>
      <div class="col">
          <a style="text-decoration: none;" href="#/detail"><div style="box-shadow: 0px 5px 10px rgba(0,0,0,.1);">
            <div class="item item-image">
                <img src="img/circle.png">
              </div>
            <div class="item item-text-wrap">
              <h3 style="text-align:center"><strong>Gangsa</strong></h3>
              <p style="text-align:center"> Alat Ketuk </p>
            </div>
          </div></a>
      </div>
      <div class="col">
          <a style="text-decoration: none;" href="#/detail"><div style="box-shadow: 0px 5px 10px rgba(0,0,0,.1);">
            <div class="item item-image">
                <img src="img/circle.png">
              </div>
            <div class="item item-text-wrap">
              <h3 style="text-align:center"><strong>Gangsa</strong></h3>
              <p style="text-align:center"> Alat Ketuk </p>
            </div>
          </div></a>
      </div>
    </div>
  </ion-content>
</ion-view>
